<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Adolescent girls, girls initiative Nigeria, girl child empowerment, agileproject, education agile project, ministry of education agile project, agile project" name="keywords" />
    <meta content="The Adolescent Girls Initiative for Learning and Empowerment, (AGILE) Project is a World Bank assisted project of the Federal Ministry of Education geared at improving secondary education opportunities for adolescent girls aged between 10 and 20." name="description" />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />

    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="{% static 'js/wow.min.js' %}"></script>
    <script defer src="{% static 'js/main.js' %}"></script>
  </head>
  <body>

    <!-- ====== Spinner Start -->
    <div id="spinner" class="bg-white fixed translate-x-1/2 -translate-y-1/2 w-full h-screen top-1/2 right-1/2 start-50 flex items-center justify-center z-50 show">
      <div class="spinner"></div>
    </div>
    <!-- ====== Spinner end -->

    {% include './_partials/topbar.html' %}
    {% include './_partials/navbar.html' %}
  
    {% block content %} {% endblock content %}
    {% include './_partials/footer.html' %}
  
    <!-- ====== Back To Top Start -->
    <a
      href="javascript:void(0)"
      class="
        hidden
        items-center
        justify-center
        bg-primary
        text-white
        w-10
        h-10
        rounded-md
        fixed
        bottom-8
        right-8
        left-auto
        z-[999]
        hover:bg-dark
        back-to-top
        shadow-md
        transition
        duration-300
        ease-in-out
      "
    >
      <span
        class="w-3 h-3 border-t border-l border-white rotate-45 mt-[6px]"
      ></span>
    </a>
    <!-- ====== Back To Top End -->
    {% include './_partials/scripts.html' %}

  </body>
</html>
