{% load static %}
<!-- ====== Logo Section Start -->
<div class="container py-2">
  <div class="flex justify-center items-center gap-2">
    <div class="">
      <a href="/">
        <img
          src="{% static 'img/world_logo.png' %}"
          alt="AGILEProject"
          class="w-[60px]"
        />
      </a>
    </div>
    <div class="px-2 border-x border-green-light">
      <a href="/">
        <img
          src="{% static 'img/coat_of_arms.png' %}"
          alt="AGILEProject"
          class="w-[60px]"
        />
      </a>
    </div>
    <div class="xs:h-14 h-[70px]">
      <a href="/">
        <img
          src="{% static 'img/agile_logo.png' %}"
          alt="AGILEProject"
          class="h-full w-auto max-w-none"
        />
      </a>
    </div>
  </div>
</div>
<!-- ====== Logo Section End -->
